{% extends "bootstrap/base.html" %}

{% block title %}SAP Data Intelligence{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <H1 class="text-muted"><img src='/static/SAP_R_grad.png' style="height:50px" class="img-fluid" alt="SAP logo"></H1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}
        {% with messages = get_flashed_messages() %}
  {% if messages %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
