{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DI Register Admin{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>Events List</h2>
</div>
{{ wtf.quick_form(form) }}
<br>
 <br>
    <br>
<div>
    {%  if dictlist|length > 0  %}
        <table class="table">
        <thead>
        <tr>
                {% for hi in dictlist[0] %}
            <th scope="col">{{ hi }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {%  for row in dictlist %}
            <tr>
                {%  for val in row.values() %}
                <td>{{ val }}</td>
                {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}
