{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <meta http-equiv="refresh" content="5"  />
{% endblock %}

{% block title %}User List{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>User List for "{{ event }}" ({{ user_id }})</h1>
</div>
    <div>
    <table class="table">
    <thead>
    <tr>
            {% for hi in dictlist[0] %}
        <th scope="col">{{ hi }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {%  for row in dictlist %}
    <tr>
        {%  for val in row.values() %}
        <td>{{ val }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <div class="page-header">
   <div class="container" align="left">
		<!-- <a href="/userlist" target="blank"><button class='btn btn-primary'>Refresh</button></a> -->
        <a href="/reset" target="blank"><button class='btn btn-primary'>Reset</button></a>
   </div>
{% endblock %}
