{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}User List{% endblock %}



{% block page_content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
            </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="page-header">
    <h2>User List  ({{ user_id }})</h2>
</div>
    <table class="table">
    <thead>
    <tr>
            {% for hi in dictlist[0] %}
        <th scope="col">{{ hi }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {%  for row in dictlist %}
    <tr>
        {%  for val in row.values() %}
        <td>{{ val }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
   <div class="container" align="left">
		{{ wtf.quick_form(form) }}
   </div>
{% endblock %}
