{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Workshops{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Workshops  ({{ user_id }})</h1>
</div>

<div class="alert alert-info" role="alert">
    <H4>Register URL for participants</H4> <a href="/register/{{ current_user.get_id() }}" class="alert-link">{{ request.url}}register/{{ current_user.get_id() }}</a><br><br>
    Cut and paste it for invitation email.
</div>



<table class="table">
    <! -- HEADER -->
    <thead>
        <tr>
        {% for hi in table_header %}
        <th scope="col">{{ hi }}</th>
        {% endfor %}
        </tr>
    </thead>
    <! -- BODY -->
    <tbody>
        {%  for row in table_body %}
        <tr>
            {%  for val in row.values() %}
            <td>{{ val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
